<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.activeMQ.mapper.TutorialMapper"> <!--namespace để mapping với class interface mapper -->
    <resultMap id="TutorialResultMap" type="com.example.activeMQ.entity.Tutorial">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="published" property="published" javaType="java.lang.Boolean" jdbcType="VARCHAR"/>
        <result column="title" property="title" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="AccountResultMap" type="com.example.activeMQ.entity.Account">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="email" property="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="PersonResultMap" type="com.example.activeMQ.entity.Person">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="address_id" javaType="java.lang.Long" />
    </resultMap>
    <resultMap id="AddressResultMap" type="com.example.activeMQ.entity.Address">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="city" property="id" javaType="java.lang.String"/>
        <result column="province" property="province" javaType="java.lang.String"/>
        <collection property="personList" resultMap="PersonResultMap" />
    </resultMap>

    <!-- Player -->
    <resultMap id="PlayerResultMap" type="com.example.activeMQ.entity.Player">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="name" property="name" javaType="java.lang.String"/>
    </resultMap>
    <!-- Team -->
    <resultMap id="TeamPlayerResultMap" type="com.example.activeMQ.entity.Team">
        <result column="id" property="id" javaType="java.lang.Long"/>
        <result column="name" property="name" javaType="java.lang.String"/>
        <result column="playerId" property="playerId" javaType="java.lang.Long"/>
        <result column="playerName" property="playerName" javaType="java.lang.String"/>
<!--        <collection property="players" resultMap="PlayerResultMap" ofType="com.example.activeMQ.entity.Player"/>-->
    </resultMap>

    <!--Query-->
    <!--select all-->
    <select id="findAllTutorials" resultMap="TutorialResultMap">
        SELECT * FROM TUTORIALS
    </select>

    <!--select one row-->
    <select id="findById" resultMap="TutorialResultMap" parameterType="Tutorial">
        SELECT * FROM TUTORIALS where id = #{id}
    </select>

    <!--insert one row-->
    <insert id="insertTutorial" parameterType="Tutorial" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO TUTORIALS (DESCRIPTION, PUBLISHED, TITLE ) VALUES (#{description},#{published}, #{title});
    </insert>
    <!--insert one row with id-->
    <insert id="insertTutorialWithId" parameterType="Tutorial" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO TUTORIALS (ID, DESCRIPTION, PUBLISHED, TITLE ) VALUES (#{id}, #{description},#{published}, #{title});
    </insert>

    <!--insert multi row-->
    <insert id="insertTutorials" parameterType="java.util.List">
        INSERT INTO TUTORIALS (DESCRIPTION, PUBLISHED, TITLE ) VALUES
        <foreach collection="list" item="tutorial" index="index" open="(" separator="),("  close=")">
            #{tutorial.description},
            #{tutorial.published},
            #{tutorial.title}
        </foreach>
    </insert>

    <!--update multi row-->
    <update id="updateTutorials" parameterType="java.util.List">
        <foreach collection="list" item="tutorial" index="index" separator=";">
            UPDATE TUTORIALS
            SET
                description = #{tutorial.description},
                published = #{tutorial.published},
                title = #{tutorial.title}
            WHERE id = #{tutorial.id}
        </foreach>
    </update>

    <!--delete multi row-->
    <delete id="deleteTutorials" parameterType="java.util.List">
        <foreach collection="list" item="tutorial" index="index" separator=";">
            DELETE FROM TUTORIALS
            WHERE id = #{tutorial.id}
        </foreach>
    </delete>

    <!-- Store Procedure -->
    <select id="callProcedureGetAllTutorials" resultMap="TutorialResultMap">
        { call getAllTutorials() }
    </select>
    <select id="callProcedureGetPersonAddress" resultMap="PersonResultMap">
        { call GetPersonAddress() }
    </select>
    <select id="callProcedureGetTeamPlayer" resultMap="TeamPlayerResultMap">
        { call GetPlayerTeam() }
    </select>



    <!--             MYSQL         -->
    <!--select all from mysql-->
    <select id="findAllAccounts" resultMap="AccountResultMap">
        SELECT * FROM Account
    </select>
    <select id="findAccountById" resultMap="AccountResultMap" parameterType="Account">
        SELECT * FROM Account where id = #{id}
    </select>
    <insert id="insertAccount" parameterType="Tutorial" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO Account (email, name ) VALUES (#{email},#{name});
    </insert>
</mapper>